
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiSvgIcon-colorPrimary {
  color: #00FF84;
}
.MuiSvgIcon-colorSecondary {
  color: #002333;
}
.MuiSvgIcon-colorAction {
  color: rgba(0, 0, 0, 0.54);
}
.MuiSvgIcon-colorError {
  color: #f44336;
}
.MuiSvgIcon-colorDisabled {
  color: rgba(0, 0, 0, 0.26);
}
.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
}
.MuiSvgIcon-fontSizeSmall {
  font-size: 1.25rem;
}
.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem;
}
 
.MuiGrid-container {
  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}
.MuiGrid-zeroMinWidth {
  min-width: 0;
}
.MuiGrid-direction-xs-column {
  flex-direction: column;
}
.MuiGrid-direction-xs-column-reverse {
  flex-direction: column-reverse;
}
.MuiGrid-direction-xs-row-reverse {
  flex-direction: row-reverse;
}
.MuiGrid-wrap-xs-nowrap {
  flex-wrap: nowrap;
}
.MuiGrid-wrap-xs-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.MuiGrid-align-items-xs-center {
  align-items: center;
}
.MuiGrid-align-items-xs-flex-start {
  align-items: flex-start;
}
.MuiGrid-align-items-xs-flex-end {
  align-items: flex-end;
}
.MuiGrid-align-items-xs-baseline {
  align-items: baseline;
}
.MuiGrid-align-content-xs-center {
  align-content: center;
}
.MuiGrid-align-content-xs-flex-start {
  align-content: flex-start;
}
.MuiGrid-align-content-xs-flex-end {
  align-content: flex-end;
}
.MuiGrid-align-content-xs-space-between {
  align-content: space-between;
}
.MuiGrid-align-content-xs-space-around {
  align-content: space-around;
}
.MuiGrid-justify-content-xs-center {
  justify-content: center;
}
.MuiGrid-justify-content-xs-flex-end {
  justify-content: flex-end;
}
.MuiGrid-justify-content-xs-space-between {
  justify-content: space-between;
}
.MuiGrid-justify-content-xs-space-around {
  justify-content: space-around;
}
.MuiGrid-justify-content-xs-space-evenly {
  justify-content: space-evenly;
}
.MuiGrid-spacing-xs-1 {
  width: calc(100% + 8px);
  margin: -4px;
}
.MuiGrid-spacing-xs-1 > .MuiGrid-item {
  padding: 4px;
}
.MuiGrid-spacing-xs-2 {
  width: calc(100% + 16px);
  margin: -8px;
}
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 8px;
}
.MuiGrid-spacing-xs-3 {
  width: calc(100% + 24px);
  margin: -12px;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 12px;
}
.MuiGrid-spacing-xs-4 {
  width: calc(100% + 32px);
  margin: -16px;
}
.MuiGrid-spacing-xs-4 > .MuiGrid-item {
  padding: 16px;
}
.MuiGrid-spacing-xs-5 {
  width: calc(100% + 40px);
  margin: -20px;
}
.MuiGrid-spacing-xs-5 > .MuiGrid-item {
  padding: 20px;
}
.MuiGrid-spacing-xs-6 {
  width: calc(100% + 48px);
  margin: -24px;
}
.MuiGrid-spacing-xs-6 > .MuiGrid-item {
  padding: 24px;
}
.MuiGrid-spacing-xs-7 {
  width: calc(100% + 56px);
  margin: -28px;
}
.MuiGrid-spacing-xs-7 > .MuiGrid-item {
  padding: 28px;
}
.MuiGrid-spacing-xs-8 {
  width: calc(100% + 64px);
  margin: -32px;
}
.MuiGrid-spacing-xs-8 > .MuiGrid-item {
  padding: 32px;
}
.MuiGrid-spacing-xs-9 {
  width: calc(100% + 72px);
  margin: -36px;
}
.MuiGrid-spacing-xs-9 > .MuiGrid-item {
  padding: 36px;
}
.MuiGrid-spacing-xs-10 {
  width: calc(100% + 80px);
  margin: -40px;
}
.MuiGrid-spacing-xs-10 > .MuiGrid-item {
  padding: 40px;
}
.MuiGrid-grid-xs-auto {
  flex-grow: 0;
  max-width: none;
  flex-basis: auto;
}
.MuiGrid-grid-xs-true {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 0;
}
.MuiGrid-grid-xs-1 {
  flex-grow: 0;
  max-width: 8.333333%;
  flex-basis: 8.333333%;
}
.MuiGrid-grid-xs-2 {
  flex-grow: 0;
  max-width: 16.666667%;
  flex-basis: 16.666667%;
}
.MuiGrid-grid-xs-3 {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
}
.MuiGrid-grid-xs-4 {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
}
.MuiGrid-grid-xs-5 {
  flex-grow: 0;
  max-width: 41.666667%;
  flex-basis: 41.666667%;
}
.MuiGrid-grid-xs-6 {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}
.MuiGrid-grid-xs-7 {
  flex-grow: 0;
  max-width: 58.333333%;
  flex-basis: 58.333333%;
}
.MuiGrid-grid-xs-8 {
  flex-grow: 0;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
}
.MuiGrid-grid-xs-9 {
  flex-grow: 0;
  max-width: 75%;
  flex-basis: 75%;
}
.MuiGrid-grid-xs-10 {
  flex-grow: 0;
  max-width: 83.333333%;
  flex-basis: 83.333333%;
}
.MuiGrid-grid-xs-11 {
  flex-grow: 0;
  max-width: 91.666667%;
  flex-basis: 91.666667%;
}
.MuiGrid-grid-xs-12 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}
@media (min-width:600px) {
  .MuiGrid-grid-sm-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .MuiGrid-grid-sm-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .MuiGrid-grid-sm-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .MuiGrid-grid-sm-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .MuiGrid-grid-sm-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .MuiGrid-grid-sm-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .MuiGrid-grid-sm-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .MuiGrid-grid-sm-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .MuiGrid-grid-sm-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .MuiGrid-grid-sm-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .MuiGrid-grid-sm-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .MuiGrid-grid-sm-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .MuiGrid-grid-sm-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .MuiGrid-grid-sm-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width:900px) {
  .MuiGrid-grid-md-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .MuiGrid-grid-md-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .MuiGrid-grid-md-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .MuiGrid-grid-md-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .MuiGrid-grid-md-3 {
    
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .MuiGrid-grid-md-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .MuiGrid-grid-md-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .MuiGrid-grid-md-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .MuiGrid-grid-md-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .MuiGrid-grid-md-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .MuiGrid-grid-md-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .MuiGrid-grid-md-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .MuiGrid-grid-md-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .MuiGrid-grid-md-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width:1200px) {
  .MuiGrid-grid-lg-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .MuiGrid-grid-lg-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .MuiGrid-grid-lg-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .MuiGrid-grid-lg-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .MuiGrid-grid-lg-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .MuiGrid-grid-lg-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .MuiGrid-grid-lg-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .MuiGrid-grid-lg-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .MuiGrid-grid-lg-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .MuiGrid-grid-lg-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .MuiGrid-grid-lg-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .MuiGrid-grid-lg-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .MuiGrid-grid-lg-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .MuiGrid-grid-lg-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width:1536px) {
  .MuiGrid-grid-xl-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .MuiGrid-grid-xl-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .MuiGrid-grid-xl-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .MuiGrid-grid-xl-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .MuiGrid-grid-xl-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .MuiGrid-grid-xl-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .MuiGrid-grid-xl-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .MuiGrid-grid-xl-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .MuiGrid-grid-xl-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .MuiGrid-grid-xl-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .MuiGrid-grid-xl-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .MuiGrid-grid-xl-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .MuiGrid-grid-xl-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .MuiGrid-grid-xl-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
 
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: inherit;
}
strong, b {
  font-weight: 700;
}
body {
  color: #002333;
  margin: 0;
  font-size: 18px;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.33;
  background-color: #fafafa;
}
@media print {
  body {
    background-color: #fff;
  }
}
body::backdrop {
  background-color: #fafafa;
}
@-webkit-keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.ReactModal__Body--open {
  overflow: hidden;
}
.grecaptcha-badge {
  visibility: hidden;
}
 
.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.MuiButtonBase-root::-moz-focus-inner {
  border-style: none;
}
.MuiButtonBase-root.Mui-disabled {
  cursor: default;
  pointer-events: none;
}
@media print {
  .MuiButtonBase-root {
    -webkit-print-color-adjust: exact;
  }
}
 
.MuiTypography-root {
  margin: 0;
}
.MuiTypography-body2 {
  font-size: 18px;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.33;
}
.MuiTypography-body1 {
  font-size: 15px;
  color: #6c0d80;
font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 400;
  line-height: 1.33;
}
.MuiTypography-caption {
  font-size: 13px;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.38;
}
.MuiTypography-button {
  font-size: 13px;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: 500;
  line-height: 1.38;
  text-transform: none;
}
.MuiTypography-h1 {
  font-size: 36px;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: bold;
  line-height: 1.22;
}
.MuiTypography-h2 {
  font-size: 26px;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: bold;
  line-height: 1.23;
  color: #5c0d80;
}
.MuiTypography-h3 {
  font-size: 22px;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: bold;
  line-height: 1.27;
}
.MuiTypography-h4 {
  font-size: 18px;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: bold;
  line-height: 1.33;
}
.MuiTypography-h5 {
  font-size: 15px;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: bold;
  line-height: 1.33;
}
.MuiTypography-h6 {
  font-size: 13px;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: bold;
  line-height: 1.38;
}
.MuiTypography-subtitle1 {
  font-size: 1rem;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.75;
}
.MuiTypography-subtitle2 {
  font-size: 0.875rem;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: 500;
  line-height: 1.57;
}
.MuiTypography-overline {
  font-size: 16px;
  color: #5c0d80;
font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.MuiTypography-srOnly {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.MuiTypography-alignLeft {
  text-align: left;
}
.MuiTypography-alignCenter {
  text-align: center;
}
.MuiTypography-alignRight {
  text-align: right;
}
.MuiTypography-alignJustify {
  text-align: justify;
}
.MuiTypography-noWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.MuiTypography-gutterBottom {
  margin-bottom: 0.35em;
}
.MuiTypography-paragraph {
  margin-bottom: 16px;
}
.MuiTypography-colorInherit {
  color: inherit;
}
.MuiTypography-colorPrimary {
  color: #5c0d80;
}

.MuiTypography-displayInline {
  display: inline;
}
.MuiTypography-displayBlock {
  display: block;
}
 
.MuiLink-root {
  color: #002333;
}
.MuiLink-underlineNone {
  text-decoration: none;
}
.MuiLink-underlineHover {
  text-decoration: none;
}
.MuiLink-underlineHover:hover {
  text-decoration: underline;
}
.MuiLink-underlineAlways {
  text-decoration: underline;
}
.MuiLink-button {
  border: 0;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0;
  position: relative;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.MuiLink-button::-moz-focus-inner {
  border-style: none;
}
.MuiLink-button.Mui-focusVisible {
  outline: auto;
}
 
.jss51 {
  width: 546px;
  max-width: 100%;
  background-color: #f5f5f5;
}
.jss51 .MuiTabs-root {
  padding-left: 16px;
}
.jss52 {
  cursor: pointer;
}

.jss50 {
  cursor: pointer;
}

 
.MuiContainer-root {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width:600px) {
  .MuiContainer-root {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.MuiContainer-disableGutters {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width:375px) {
  .MuiContainer-fixed {
    max-width: 375px;
  }
}
@media (min-width:600px) {
  .MuiContainer-fixed {
    max-width: 600px;
  }
}
@media (min-width:900px) {
  .MuiContainer-fixed {
    max-width: 900px;
  }
}
@media (min-width:1200px) {
  .MuiContainer-fixed {
    max-width: 1200px;
  }
}
@media (min-width:1536px) {
  .MuiContainer-fixed {
    max-width: 1536px;
  }
}
@media (min-width:375px) {
  .MuiContainer-maxWidthXs {
    max-width: 444px;
  }
}
@media (min-width:600px) {
  .MuiContainer-maxWidthSm {
    max-width: 600px;
  }
}
@media (min-width:900px) {
  .MuiContainer-maxWidthMd {
    max-width: 900px;
  }
}
@media (min-width:1200px) {
  .MuiContainer-maxWidthLg {
    max-width: 1200px;
  }
}
@media (min-width:1536px) {
  .MuiContainer-maxWidthXl {
    max-width: 1536px;
  }
}

@media (max-width:899.95px) {
  .jss69 {
    margin: 32px -24px;
    padding: 0;
  }
}
@media (max-width:599.95px) {
  .jss69 {
    margin-left: -16px;
    margin-right: -16px;
  }
}
.jss70 {
  margin-top: -32px;
  padding: 48px 16px;
}
@media (max-width:899.95px) {
  .jss70 {
    padding: 0;
  }
}
.jss71 {
  width: calc(100% - 16px);
  margin-left: 8px;
  margin-bottom: 32px;
}
.jss72 {
  padding-bottom: 80px;
  margin-top: 30px;
}
.jss72 .tag-cloud-container .cloud-tag {
  border: 1px solid #002333;
  margin: 4px 8px 8px 0px;
  padding: 0px 24px;
  border-radius: 4px;
}
.jss73 {
  margin-bottom: 24px;
}
@media (max-width:599.95px) {
  .jss73 {
    display: none;
  }
}

.jss79:focus {
  border-radius: 4px;
}
.jss79 ~ fieldset {
  display: none;
}
.jss80 {
  margin-left: 8px;
}
.jss81 {
  padding: 8px 20px;
  border-color: #394649;
  border-style: solid;
  border-width: 1px;
  background-color: #fff !important;
}
.jss81[aria-expanded=true], .jss81:focus {
  outline: none;
  box-shadow: #3722D3 0 0 0 1.5px;
  border-color: #3722D3;
}


.jss89 {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-radius: 4px;
}
.jss89:hover {
  text-decoration: none;
  background-color: #DCDEE1;
}
.jss89.active {
  color: #fff;
  text-decoration: none;
  background-color: #002333;
}
.jss89 .bold-link {
  font-weight: 550;
}
.jss90 {
  margin: 32px 0px 8px 16px;
  display: block;
  border-bottom: 1px solid #DCDEE1;
}

.jss74 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jss75 {
  margin-top: 24px;
}
@media (min-width:900px) {
  .jss75 {
    display: none;
  }
}
.jss76 {
  margin: 0px 8px 8px 8px;
  position: relative;
  padding-top: 42px;
  margin-bottom: 8px;
}
@media (min-width:900px) {
  .jss76 {
    display: none;
  }
}
@media (max-width:599.95px) {
  .jss76 {
    padding-top: 24px;
  }
}
.jss76 .select {
  top: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  font-size: 36px;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: 700;
}
.jss76 .select .MuiSelect-select {
  height: 100%;
}
.jss77 {
  display: none;
}
@media (min-width:900px) {
  .jss77 {
    display: block;
  }
}

.jss165 {
  height: 100%;
  display: flex;
  max-width: 100%;
}
.jss166 {
  height: 80%;
}
.jss167 {
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0.6), rgba(216, 216, 216, 0));
}
.jss168 {
  width: 100%;
  height: 100%;
}

.jss178 {
  padding: 12px 8px;
  font-size: 15px;
  box-sizing: border-box;
  font-family: "GT Walsheim Pro",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.33;
}
.jss178 .jss194 .jss188, .jss178 .jss192 {
  color: #394649;
  text-decoration: none;
}
.jss178 .jss194 .jss188:hover, .jss178 .jss192:hover {
  color: #3722D3;
}
.jss179 {
  color: #394649;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(184, 184, 184, 0.5);
  border-radius: 8px;
  background-color: #fff;
}
.jss179:hover .jss182 {
  opacity: 1;
  visibility: visible;
}
.jss179::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  position: absolute;
  box-shadow: 0 4px 8px 0 #DCDEE1;
  transition: opacity 0.2s ease-in-out;
  border-radius: 5px;
  pointer-events: none;
}
.jss179 > a, .jss179 .btn {
  z-index: 2;
  position: relative;
}
.jss179 > .jss183 {
  position: absolute;
}
.jss179::after:hover {
  opacity: 1;
  z-index: 0;
}
.jss180 {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 70%;
  margin-bottom: 0;
}
.jss181 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
}
.jss182 {
  width: 40px;
  height: 40px;
  display: flex;
  z-index: 3;
  visibility: hidden;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}
.jss182::before {
  top: 2px;
  left: 2px;
  right: auto;
  bottom: auto;
}
.jss182 > div {
  margin-top: 16px;
  margin-left: 2px;
}
.jss183 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  font-size: 0;
  text-decoration: none;
}
.jss184 {
  height: 17px;
  margin: 12px 0px 0px 12px;
  position: relative;
}
.jss185 {
  width: 100%;
  height: 60px;
  z-index: 3;
  position: absolute;
  background: linear-gradient(to bottom, rgba(5, 5, 5, 0.6), rgba(216, 216, 216, 0));
  border-radius: 8px;
}
.jss186 {
  display: flex;
  padding: 8px;
  position: relative;
  flex-direction: column;
}
.jss187 {
  display: flex;
  font-size: 13px;
  text-align: initial;
  align-items: center;
  line-height: 24px;
  justify-content: space-between;
}
.jss193 .jss194 .jss188 {
  color: #002333;
}
.jss193 .jss187 {
  color: #002333;
  order: 3;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.jss193 .jss189::after {
  content: '•';
  padding: 0 6px;
}
.jss194 {
  z-index: 2;
  line-height: 24px;
}
.jss194 .jss191, .jss194 .jss191 p {
  margin: 0;
  font-size: 13px;
}
.jss195 {
  right: 8px;
  bottom: 8px;
  z-index: 2;
  position: absolute;
}
.jss196 {
  color: #002333;
  height: 60px;
  margin: 8px 0px 0px;
  display: -webkit-box;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
  font-weight: 600;
  line-height: 1.33;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.jss197 {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  position: absolute;
  border-radius: 8px 8px 0px 0px;
}
.jss198 {
  inset: 0;
  margin: auto;
  position: absolute;
}
.jss199 {
  transform: translate(0, 6px);
  margin-bottom: 6px;
}

.jss169 {
  top: -32px;
  height: 0;
  z-index: 1;
  position: relative;
}
.jss170 {
  color: #002333;
  margin: 0px 0px 8px 8px;
  display: inline-block;
  padding: 4px 12px;
  font-size: 12px;
  background: #00FF84;
  text-align: center;
  font-weight: 700;
  line-height: 16px;
  border-radius: 20px;
}

.jss174 {
  display: flex;
  justify-content: space-between;
}
@media (max-width:599.95px) {
  .jss174:first-child {
    margin-top: 24px;
  }
}
.jss175 {
  position: relative;
}
.jss176 {
  right: 16px;
  bottom: 20px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
}

.jss151 {
  display: flex;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(184, 184, 184, 0.5);
  border-radius: 8px;
  flex-direction: column;
  background-color: #fff;
}
@media (min-width:600px) {
  .jss151 {
    flex-direction: row;
  }
}
.jss151:hover {
  box-shadow: 0 4px 8px 0 rgb(184 184 184 / 50%);
  transition: box-shadow .2s ease-in-out;
}
.jss152 {
  height: 100%;
}
.jss153 {
  inset: 0;
  position: absolute;
}
.jss154 {
  flex: 1;
  position: relative;
}
.jss155 {
  padding: 0;
}
.jss156 {
  flex: 1;
  display: flex;
  padding: 8px;
  padding-left: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.jss157 {
  justify-self: flex-end;
}
.jss158 {
  width: 100%;
  height: 60px;
  z-index: 3;
  position: absolute;
  background: linear-gradient(to bottom, rgba(5, 5, 5, 0.6), rgba(216, 216, 216, 0));
  border-radius: 4px;
}
.jss159 {
  height: 17px;
  position: relative;
  margin-top: 12px;
  margin-left: 12px;
}
.jss160 {
  margin: 0px 0px 24px 0px;
}
@media (min-width:600px) {
  .jss160 {
    margin: 8px 0px 24px 0px;
    font-size: 22px;
    line-height: 1.27;
    flex-direction: row;
  }
}
.jss160:hover {
  color: #394649;
}
.jss161 {
  color: inherit;
  text-decoration: none;
}
.jss161:after {
  inset: 0;
  content: "";
  position: absolute;
}
.jss162 {
  color: #000;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 32px;
  text-decoration: none;
}
.jss163 {
  margin-left: 16px;
}
.lf-progress {
  -webkit-appearance: none;
  -moz-apperance: none;
  width: 100%;
  /* margin: 0 10px; */
  height: 4px;
  border-radius: 3px;
  cursor: pointer;
}
.lf-progress:focus {
  outline: none;
  border: none;
}
.lf-progress::-moz-range-track {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
.lf-progress::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  height: 13px;
  width: 13px;
  border: 0;
  border-radius: 50%;
  background: #0fccce;
  cursor: pointer;
}
.lf-progress::-moz-range-thumb {
  -moz-appearance: none !important;
  height: 13px;
  width: 13px;
  border: 0;
  border-radius: 50%;
  background: #0fccce;
  cursor: pointer;
}
.lf-progress::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.lf-progress::-ms-fill-lower {
  background: #ccc;
  border-radius: 3px;
}
.lf-progress::-ms-fill-upper {
  background: #ccc;
  border-radius: 3px;
}
.lf-progress::-ms-thumb {
  border: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #0fccce;
  cursor: pointer;
}
.lf-progress:focus::-ms-fill-lower {
  background: #ccc;
}
.lf-progress:focus::-ms-fill-upper {
  background: #ccc;
}
.lf-player-container :focus {
  outline: 0;
}
.lf-popover {
  position: relative;
}

.lf-popover-content {
  display: inline-block;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -10px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.lf-popover-content.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0px);
}

.lf-player-btn-container {
  display: flex;
  align-items: center;
}
.lf-player-btn {
  cursor: pointer;
  fill: #999;
  width: 14px;
}

.lf-player-btn.active {
  fill: #555;
}

.lf-popover {
  position: relative;
}

.lf-popover-content {
  display: inline-block;
  position: absolute;
  background-color: #ffffff;
  opacity: 1;

  transform: translate(0, -10px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  padding: 10px;
}

.lf-popover-content.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0px);
}

.lf-arrow {
  position: absolute;
  z-index: -1;
  content: '';
  bottom: -9px;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
}

.lf-left-align,
.lf-left-align .lfarrow {
  left: 0;
  right: unset;
}

.lf-right-align,
.lf-right-align .lf-arrow {
  right: 0;
  left: unset;
}

.lf-text-input {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 3px;
  width: 60px;
  margin: 0;
}

.lf-color-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
}

.lf-color-selectors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lf-color-component {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.lf-color-component strong {
  width: 40px;
}

.lf-color-component input[type='range'] {
  margin: 0 0 0 10px;
}

.lf-color-component input[type='number'] {
  width: 50px;
  margin: 0 0 0 10px;
}

.lf-color-preview {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.lf-preview {
  height: 60px;
  width: 60px;
}

.lf-popover-snapshot {
  width: 150px;
}
.lf-popover-snapshot h5 {
  margin: 5px 0 10px 0;
  font-size: 0.75rem;
}
.lf-popover-snapshot a {
  display: block;
  text-decoration: none;
}
.lf-popover-snapshot a:before {
  content: '⥼';
  margin-right: 5px;
}
.lf-popover-snapshot .lf-note {
  display: block;
  margin-top: 10px;
  color: #999;
}
.lf-player-controls > div {
  margin-right: 5px;
  margin-left: 5px;
}
.lf-player-controls > div:first-child {
  margin-left: 0px;
}
.lf-player-controls > div:last-child {
  margin-right: 0px;
}

